<html>
	<head>
		<title>username</title>
		<script src="../asset/loginVal.js"></script>
	</head>
	<style>
		body 
		{
		  background-image: url('../asset/backG.jpg');
		  background-size: cover;
		}
	</style>
	<body>
		<form method="post" action="">
			<fieldset align="center">
				<legend>LOGIN</legend>
				<table align="center">
					<tr>
						<td>Email</td>
						<td><input type="email" id="email" name="email" value=""><br></td>
					</tr>
					<tr>
						<td>Password</td>
						<td><input type="password" id="password" name="password" value=""><br></td>
					</tr>
					<tr>
						<td></td>
						<td>
							<input type="button" name="submit" value="Login" onclick="return !!(notEmpty() && login());">
							<a href="reg.html"> Register </a>
						</td>
					</tr>
				</table>						 
			</fieldset>
		</form>
	</body>
</html>